/**********GENERAL**********/

:root {
  /* Palette */
  --verde: #5fee87;
  --rosa: #c738af;
  --arancio: #f8f00d;
  --rosso: #ec5555;
  --blue: #0044ff;
  --grigiochiaro: #cdcdcd;
  --grigiomedio: #b7b6b6;
  --grigioscuro: #929292;
  --nero: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: var(--nero);
  overflow: hidden;
}

canvas {
  display: block;
}

.topnav {
  width: 100%;
  height: 33px;
  font-size: 16pt;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--grigiochiaro);
  text-align: center;
  display: flex;
  position: fixed;
}

.bottomnav {
  width: 100%;
  height: 33px;
  font-size: 16pt;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--grigiochiaro);
  text-align: center;
  display: flex;
  position: fixed;
  bottom: 0;
  margin: none;
}

.btn {
  width: 100%;
  height: 33px;
  font-size: 16pt;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--grigiochiaro);
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.navbtn {
  width: 100%;
  cursor: pointer;
}

/**********Slideshow**********/
/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: var(--nero);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  left: 5vh;
  /* margin-bottom: 5vh; */
}
/* Position the "next button" to the right */
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: var(--nero);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 5vh;
  margin-bottom: 5vh;
}

/**********ABOUT*************/
.about-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--grigiomedio);
  position: fixed;
  padding: 0.5%;
  z-index: 2;
  display: none;
}

.about-container h1{
  font-size: 30pt;
  margin-bottom: 5px;
}

.about-container p {
  font-size: 16pt;
}

.openabout {
  position:absolute;
  left: 5vh;
}

.closeabout {
  width: 100%;
  height: 33px;
  padding-left: 5vh;
  font-size: 16pt;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--grigiochiaro);
  text-align: center;
  display: flex;
  position: fixed;
  bottom: 0;
  margin: none;
}


/**********ANNUNCIO RUOLO*************/
.role-announcement {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  position: fixed;
  z-index: 2;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.role-announcement h1{
  font-size: 30pt;
  text-align: left;
  margin-bottom: 5px;
}

/* .role-announcement p {
  font-size: 16pt;
  text-align: center;
} */

/**********CHAT**********/

.navbtn.active {
  background-color: var(--grigioscuro);
}

.box {
  width: 100%;
  font-size: 30pt;
  line-height: 32pt;
  /* padding: 0.5%; */
  font-weight: bold;
  color: var(--nero);
  /* background-color: var(--grigiomedio); */
}

.container {
  position: absolute;
  width: 100%;
  top: 33px;
  z-index: 1;
  display: none;
}

.chat-container {
  height: 100%;
  z-index: 2;
  /* overflow: scroll; */
}

.client1 {
  background-color: var(--verde);
}

.client2 {
  background-color: var(--rosa);
}

.client3 {
  background-color: var(--arancio);
}

.client4 {
  background-color: var(--rosso);
}

/**********SEND**********/

::placeholder {
  color: white;
  opacity: 0.7;
}

#ascicanvas {
  width: 100vw;
  height: 60vh;
}

#ascicanvas1 {
  top: 20vh;
  width: 100vw;
  height: 100%;
  position: absolute;
}

#scan-text {
  bottom: 9px;
  height: 66px;
  text-align: left;
  padding: 3px;
  margin-left: 10px;
  font-size: 16pt;
  line-height: 1.2;
  position: fixed;
}

#message-input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

canvas {
  display: block;
}

#myTopnav {
  width: 100%;
  height: 33px;
  font-size: 13pt;
}

.enter-room-button {
  position: absolute;
  width: auto;
  color: var(--nero);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  right: 5vh;
  margin-bottom: 5vh;
}

.active {
  display: block;
}
.inactive {
  display: none;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: auto;
}


